<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/css/bootstrap.css">
        <link rel="stylesheet" href="/css/signin.css">
        <style> 
        .site-header {
            background-color: rgba(0, 0, 0, .85);
            -webkit-backdrop-filter: saturate(180%) blur(20px);
            backdrop-filter: saturate(180%) blur(20px);
            }
            .site-header a {
            color: #999;
            transition: ease-in-out color .15s;
            }
            .site-header a:hover {
            color: #fff;
            text-decoration: none;
            }
            .college-cover {
                min-height: 100%;
                background: url("/img/college-cover.jpg");
                background-repeat: no-repeat;
                background-attachment: fixed;
                background-position: center; 
            }
            .prepend-button-border {
                border-radius: 0 0.25rem 0.25rem 0 !important;
                border: 1px solid #ced4da !important;
            }
        </style>
    </head>
    <body>
        <nav class="site-header sticky-top py-1">
            <div class="container d-flex flex-column flex-md-row justify-content-between">
              <a class="py-2" href="/">Home</a>
              <a class="py-2 d-none d-md-inline-block" href="/register">Registration</a>
              <% if (locals.session) { %>
                <a class="py-2 d-none d-md-inline-block" href="/companies">Companies</a>
                <a class="py-2 d-none d-md-inline-block" href="/logout">Logout</a>
              <% } %>
              <% if (locals.session === undefined ) { %>
                <a class="py-2 d-none d-md-inline-block" href="/login">Login</a>
              <% } %>
            </div>
          </nav>
          <% if (locals.errorMessage) { %>
            <div class="alert alert-danger" role="alert">
              <strong>Error: </strong> <%= errorMessage %>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          <% } %>
          <div class="container">
                
          