</br>

<form class="form-group" action="/companies" method="POST">
    <h3>Add a New Question</h3>
    </br>
    <div class="form-group">
        <label for="company-name">Question</label>
        <input type="text" class="form-control" name="question" aria-describedby="Question" placeholder="Awesome question here.." required>
    </div>
    <div class="form-group">
        <label for="process">Answer (Optional)</label>
        <input type="text" class="form-control" name="answer" aria-describedby="Answer (Optional)" placeholder="Awesome Answer.">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>