<!--
including header content which is common for all pages
-->
<%- include layouts/header.ejs %>    
 
<div class="jumbotron jumbotron-fluid college-cover">
    <div class="container" style="text-align: center">
      <h1>Feedback Analysis of Interview</h1>
      <h3>Geethanjali College of Engineering and Technology</h3>
    </div>
</div>

<!--
including footer content which is common for all pages
-->
<%- include layouts/footer.ejs %>