
<table class="table">
        <thead>
          <tr>
            <th scope="col"><%= question_section_title %></th>
            <th scope="col">Approved Answer</th>
          </tr>
        </thead>
        <tbody>
                <% for(var i=0; i<questions.length; i++) {%>
                        <tr> <td>  <a href= <%= "/question?questionId="+questions[i].id+"&companyId="+req.query.companyId %> > <%= questions[i].question %> </a>      </td> <td>  <%= questions[i].approvedAnswer %> </td> </tr>
                <% } %>
        </tbody>
</table>
